#!/usr/bin/env bash
set -e

# Detect installed AUR helper
AUR_HELPER=""
for helper in yay paru trizen; do
  if command -v "$helper" &>/dev/null; then
    AUR_HELPER="$helper"
    break
  fi
done

{{ if .config.zram }}
if ! pacman -Qq zram-generator &>/dev/null; then
  sudo pacman -Syu --noconfirm zram-generator
else
  echo "zram-generator is already installed, skipping."
fi
{{ end }}

{{ if .config.limine.snapper_sync }}
if pacman -Qq limine > /dev/null 2>&1; then
  if [ -z "$AUR_HELPER" ]; then
    echo "No AUR helper installed, cannot install AUR packages."
    exit 1
  fi

  echo "Checking and installing missing AUR packages..."

  packages_to_install=()
  for pkg in jre21-openjdk limine-snapper-sync snap-pac; do
    if ! pacman -Qq "$pkg" &>/dev/null; then
      packages_to_install+=("$pkg")
    else
      echo "AUR package $pkg is already installed, skipping."
    fi
  done

  if [ ${#packages_to_install[@]} -eq 0 ]; then
    echo "All AUR packages are already installed."
  else
    "$AUR_HELPER" -S --noconfirm "${packages_to_install[@]}"
  fi
else
  echo "Limine isn't installed. Skipping limine-snapper-sync."
fi
{{ end }}

{{ if .config.limine.journalctl_desktop_notification}}
if ! pacman -Qq journalctl-desktop-notification &>/dev/null; then
  sudo pacman -Syu --noconfirm journalctl-desktop-notification
else
  echo "journalctl-desktop-notification is already installed, skipping."
fi
{{ end }}
if pacman -Qq limine > /dev/null 2>&1; then
  if [ -z "$AUR_HELPER" ]; then
    echo "No AUR helper installed, cannot install AUR packages."
    exit 1
  fi

  echo "Checking and installing missing AUR packages..."

  packages_to_install=()
  if pacman -Qq dracut > /dev/null 2>&1; then
    if ! pacman -Qq limine-dracut-support &>/dev/null; then
      packages_to_install+=("limine-dracut-support")
    else
      echo "AUR package limine-dracut-support is already installed, skipping."
    fi
    initrd_regen_cmd="dracut --regenerate-all --force"
  elif pacman -Qq mkinitcpio > /dev/null 2>&1; then
    if ! pacman -Qq limine-mkinitcpio-hook &>/dev/null; then
      packages_to_install+=("limine-mkinitcpio-hook")
    else
      echo "AUR package limine-mkinitcpio-hook is already installed, skipping."
    fi
    initrd_regen_cmd="mkinitcpio -P"
  elif pacman -Qq booster > /dev/null 2>&1; then
    packages_to_install+=("limine-entry-tool")
    initrd_regen_cmd="/usr/lib/booster/regenerate_images"  
  else
    echo "Neither dracut, mkinitcpio, nor booster is installed. No known hook for Limine initramfs support."
  fi

  if [ ${#packages_to_install[@]} -eq 0 ]; then
    echo "All AUR packages are already installed."
  else
    "$AUR_HELPER" -S --noconfirm "${packages_to_install[@]}"
  fi

  sudo $initrd_regen_cmd
else
  echo "Limine isn't installed. Skipping initramfs hooks."
fi
