#!/usr/bin/env bash
set -e

{{ if .config.zram }}
sudo tee /etc/systend/zram-generator.conf > /dev/null 2>&1 <<EOF
[zram0]
zram-size = ram / 2
compression-algorithm = zstd
swap-priority = 100
fs-type = swap
EOF
{{ end }}
