#!/bin/bash
set -e

add_groups() {
  local group_list=("$@")
  local groups_to_add=()
  for group in "${group_list[@]}"; do
    if ! id -nG | grep -qw "$group"; then
      groups_to_add+=("$group")
    else
      echo "$USER is already in group $group. Skipping..."
    fi
  done

  if [ ${#groups_to_add[@]} -eq 0 ]; then
    echo "All groups are already added."
  else
    for group in "${groups_to_add[@]}"; do
      echo "Adding $USER to group $group..."
      sudo usermod -aG "$group" "$USER"
    done
    echo "Please log out and log back in for changes to take effect."
  fi
}

{{- if .groups }}
echo "Checking for and adding missing supplementary groups..."
add_groups {{ join " " .groups }}
{{- end }}

{{- if and .config.vm.qemu .kvm_groups }}
echo "Checking for and adding missing KVM groups..."
add_groups {{ join " " .kvm_groups }}
{{- end }}

{{- if .gaming }}
echo "Checking for and adding missing gaming groups..."
add_groups {{ join " " .gaming }}
{{- end }}
