#!/bin/bash
set -e

enable_services() {
  local mode="$1"     # "system" or "user"
  local services=($2) # space-separated list
  local label="$3"    # optional label

  local enable_cmd="systemctl"
  local check_cmd="systemctl"

  [[ "$mode" == "user" ]] && enable_cmd="systemctl --user" && check_cmd="systemctl --user"

  to_enable=()

  for srv in "${services[@]}"; do
    if ! $check_cmd list-units --all "${srv}.service" &>/dev/null; then
      echo "${srv}.service not found, skipping."
    elif ! $check_cmd is-enabled --quiet "${srv}.service"; then
      to_enable+=("$srv")
    else
      echo "${srv}.service already enabled, skipping."
    fi
  done

  if [ ${#to_enable[@]} -eq 0 ]; then
    echo "No ${label} services left to enable."
  else
    for srv in "${to_enable[@]}"; do
      echo "Enabling and starting ${srv}.service..."
      $enable_cmd enable --now "${srv}.service"
    done
  fi
}

{{- if .config.system.bluetooth.enable }}
{{- $bt := join " " .services.system.bluetooth }}
enable_services system {{ $bt }} "bluetooth"
{{- end }}

{{- if .config.system.printing.enable }}
{{- $cups := join " " .services.system.printing }}
enable_services system {{ $cups }} "cups"
{{- end }}

{{- if .config.system.audio.pipewire.enable }}
{{- $pipewire := join " " .services.user.audio.pipewire }}
enable_services user {{ $pipewire }} "pipewire"
{{- end }}

{{- if .config.qemu.enable }}
{{- $kvm := join " " .kvm_services.system }}
enable_services system {{ $kvm }} "KVM"
{{- end }}

{{- if eq .config.desktop_stack.login_manager "ly" }}
{{- $ly := join " " .services.system.login_manager.ly }}
enable_services system {{ $ly }} "login manager (ly)"
{{- end }}
