/* ---------------------------- */
/* Base Colors                  */
/* ---------------------------- */
$wallpaper: "{{image}}";
$background: {{colors.background.default.hex}}; // Main background
$background-alt: {{colors.surface_container_low.default.hex}}; // Secondary background
$background-dark: {{colors.surface_container_lowest.default.hex}}; // Darkest background

/* Text Colors */
$text-main: {{colors.on_background.default.hex}}; // Primary text color
$text-secondary: {{colors.on_surface_variant.default.hex}}; // Secondary text color
$text-muted: {{colors.outline_variant.default.hex}}; // Tertiary text, muted

/* Surface Colors */
$surface-disabled: {{colors.surface_variant.default.hex}}; // Background for disabled items
$surface-neutral: {{colors.surface.default.hex}}; // Neutral surface for cards, panels
$surface-highlight: {{colors.surface_bright.default.hex}}; // Selection and highlights

/* Accent Colors */
$primary: {{colors.primary.default.hex}};
$error: {{colors.error.default.hex}};

/* Overlay Colors */
$text-disabled: {{colors.on_surface_variant.default.hex}}; // Text for disabled elements
$text-muted-light: {{colors.outline_variant.default.hex}}; // Light-muted text for hints
$text-muted-dark: {{colors.outline.default.hex}}; // Dark-muted text

$bar-background: rgba({{colors.surface_container.default.red}}, {{colors.surface_container.default.green}}, {{colors.surface_container.default.blue}}, 35);
$shadow-color: rgba({{colors.surface_container.default.red}}, {{colors.surface_container.default.green}}, {{colors.surface_container.default.blue}}, 0.5);


